@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*
  TODO: Style the game page according to guidelines
  NOTE: To use the above typeface, use font-family: "Press Start 2P" -- the above is
        equivalent to importing it as a stylesheet in HTML.
*/

/*
  TODO: Implement mobile query for smaller screen sizes.
*/
